 name: Build and Deploy to AKS

on:
  push:
    branches:
      - main

jobs:
  build-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Azure Login
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Login to ACR
        run: az acr login --name acrdevopslabs123.azurecr.io

      - name: Build and Push Image
        run: |
          IMAGE=acrdevopslabs123.azurecr.io/hello-app:latest
          docker build -t $IMAGE .
          docker push $IMAGE

      - name: Set AKS context
        uses: azure/aks-set-context@v4
        with:
          resource-group: rg-devops-lab
          cluster-name: aks-devops-lab

      - name: Deploy to Kubernetes
        run: kubectl apply -f k8s/
